# images
JavaScriptDOM/assets/images
JavaScriptDOM/assets/videos
JavaScriptDOM/assets/js/modernizr-html5.js

*.png
*.jpg

serverEnv/public
serverEnv/node_modules

ES6/Babel/node_modules
ES6/Babel/build

ES6/rollupPro/node_modules
ES6/rollupPro/build