body {
    font-family: "Helvetica","Arial",serif;
    color: #333;
    background-color: #d8e3e7;
    margin: 1em 10%;
    font-size: 16px;
}

h1 {
    color: #2177b8;
    background-color: transparent;
}

a {
    color: #d2357d;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

ul {
    padding: 0;
}

ol {
    float: left;
    padding: 1 em;
    list-style: none;
}

img {
    display: block;
    margin: 5em auto;
    clear: both;
}

#description {
    text-align: center;
}

.pop-input {
    width: 10em;
    height: 5em;
    line-height: 5em;
    font-size: 14px;
    background-color: #1ba784;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #d8e3e7;
}
#imageGallery {
    list-style: none;
}

#imageGallery li {
    display: inline;
}